<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDos</title>
</head>

<body>
    <ul>
        <% todos.forEach(function(todo){ %>
            <%- include('todo/show', {todo: todo}); %>
                <% }); %>
    </ul>
    <%- include('todo/create'); %>
</body>

</html>