<form action="/todos" method="post">
  <input
    type="text"
    name="title"
    id="title"
    placeholder="title of todo"
    class="input input-bordered w-full max-w-xs"
  />
  <button type="submit" class="btn btn-primary">erstellen</button>
</form>
